
@{
    ViewBag.Title = "Admin panel";
}

<h2>Admin-panel</h2>

<ol>
    <li>@Html.ActionLink("Add beer", "Beer", "Admin")</li>
    <li>@Html.ActionLink("Add food", "Food", "Admin")</li>
    <li>@Html.ActionLink("Add Event", "Events", "Admin")</li>
</ol>